name: Restart App on EC2

on:
  push:
    branches:
      - master

jobs:
  restart:
    runs-on: ubuntu-latest

    steps:
      - name: Restart PM2 app on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            pm2 restart node-todo