name: Deploy to EC2 with PM2

on:
  workflow_dispatch:

#on:
  #push:
    #branches:
      #- master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/node-todo-cicd
            git pull origin master
            npm install
            pm2 restart node-app
            df -h
